# lab 4

## import libs and connect db

In [1]:
import pandas
import configparser
import psycopg2

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
config = configparser.ConfigParser()
config.read('config.ini')

host = config['my aws']['host']
db = config['my aws']['db']
user = config['my aws']['user']
password = config['my aws']['password']

In [3]:
conn = psycopg2.connect(

                    host=host,
                    user=user,
                    password=password,
                    database=db
)

In [4]:
cur.conn.curser()

#  Q1

In [12]:
sql_q1 = """
         select * from gp13.student
         """

In [16]:
df=pandas.read_sql_query(sql_q1,conn) 
df[:]

                  s_email          s_name major
0   slatekm@dukes.jmu.edu      Kali Slate    IA
1  ackermss@dukes.jmu.edu  Sasha Ackerman    IA
2  larouncj@dukes.jmu.edu  Chris Larounis    IA
3  thomp6ce@dukes.jmu.edu  Chloe Thompson    IA

## Q2

In [33]:
sql_q2= """
    select from gp13.professor.p_name,
    gp13.course.course_name,
    gp13.professor
        
        """

In [40]:
df=pandas.read_sql_query(sql_q2, conn) 
df[:]

DatabaseError: Execution failed on sql '
    select from gp13.professor.p_name,
    gp13.course.course_name,
    gp13.professor

        ': cross-database references are not implemented: "gp13.professor.p_name"
LINE 2:     select from gp13.professor.p_name,
                        ^

Q3

In [38]:
sql_q3= """
        select course_number, 
        count(course_number) as enrolled
        from gp13.enroll_list
        order by enrolled desc
        """

In [39]:
df=pandas.read_sql_query(sql_q3, conn) 
df[:]

DatabaseError: Execution failed on sql '
        select course_number,
        count(course_number) as enrolled
        from gp13.enroll_list
        order by enrolled desc
        ': column "enroll_list.course_number" must appear in the GROUP BY clause or be used in an aggregate function
LINE 2:         select course_number,
                       ^